{% extends 'base.html' %}
{% from 'macros.j2' import render_field %}

{% block content %}
	<div class="full-width">
		<h2>{{ title }}</h2>
		<form class="grid-form" method="POST" action="{{ url_for('settings.general') }}">
			{{ form.csrf_token }}
			{{ render_field(form.refresh_interval) }}
			<div class="field-help">(set 0 to disable) Refresh the database if it is older than x seconds (can also use 10m, 12h, 3d, 1w etc for minutes/hours/days/weeks)</div>
			{{ render_field(form.disk_path) }}
			<div class="field-help">Path must exist. Subfolders will be treated as playlists. You can move your videos and update this path without a database rescan.</div>
			{{ render_field(form.web_path) }}
			<div class="field-help">Also thumbnails and subtitles.</div>
			{{ render_field(form.metadata_source) }}
			<div class="field-help">Use .info.json files for metadata if present. Requires a database rescan to update existing videos if changed.</div>
			{{ render_field(form.filename_format) }}
			<div class="field-help">(leave blank to disable) See below for help</div>
			{{ render_field(form.filename_delimiter) }}
			<div class="field-help">(optional) Include spaces, see below for help</div>
			{{ render_field(form.generate_thumbs) }}
			<div class="field-help">Generate small thumbnails for playlists<br>
			<em>{{ thumbnail_status }}</em></div>
			{{ render_field(form.replace_underscores) }}
			<div class="field-help">Playlists and videos, looks nicer imo if you use youtube-dl's <pre>--restrict-filenames</pre> option</div>
			{{ render_field(form.guests_can_view) }}
			<div class="field-help">If checked, videos are publicly viewable. Does not protect video URLs. Guests cannot access settings or refresh/rescan the database.</div>
			<input name="submit" type="submit" value="Save settings">
		</form>
		
		<h3>Database</h3>
		<form class="grid-form" action="{{ url_for('db.init') }}">
			<label for="last-refreshed">Database last updated</label>
			<div id="last-refreshed" class="field">{{ last_refreshed }}</div>
			<label for="next-refresh">Next database update</label>
			<div id="next-refresh" class="field">{{ next_refresh }}</div>
			<div class="field-help">Triggered when the video page is open</div>
			<label for="refresh-database">Refresh database</label>
			<button type="button" id="refresh-database">Refresh database</button>
			<div class="field-help">Scan for new playlists and videos</div>
			<label for="rescan-database">Rescan database</label>
			<button type="button" id="rescan-database">Rescan database</button>
			<div class="field-help">Clear existing videos and rescan all folders</div>
			<label for="delete-database">Delete and recreate database</label>
			<input id="delete-database" type="submit" value="Delete database">
			<div class="field-help">Clear all data including users and settings (but not video files), and recreate the database</div>
		</form>
		
		<h3>Help</h3>
		<dl>
			<dt>Database refresh</dt>
			<dd>youtube-dl-web-viewer uses a database to keep track of your playlists and videos. This database is not updated automatically when you add new videos to your folders, but can be updated on a schedule. The simplest way to add a schedule is to set the <strong>database refresh interval</strong> to a number of seconds (or e.g. 30m for 30 minutes, 12h for 12 hours, 1d for 1 day etc.). If a logged-in user has the video page open, a refresh will be triggered if the database was last updated more than <em>x</em> seconds ago.</dd>
			<dd>In this case the database will only be updated if the video page is open, so you could instead or additionally run a regular refresh on the backend using something like <a href="https://www.computerhope.com/unix/ucrontab.htm">cron</a> or Task Scheduler. Your crontab entry could look like this:</dd>
			<dd><pre>0 0 * * 1	export FLASK_APP=app; cd /path/to/youtube-dl-web-viewer && venv/bin/flask refresh</pre></dd>
			<dd>This would trigger a refresh at 00:00 every Monday.</dd>
			<dd>Alternatively, if you already run a shell script to regularly download videos, you could trigger a rescan once downloads are complete by adding <pre>export FLASK_APP=app; cd /path/to/youtube-dl-web-viewer && venv/bin/flask refresh</pre> to the end of your script.</dd>
			<dd>Bear in mind the user you run your crontab entry or shell script as should have write access to the youtube-dl-web-viewer directory (to update the database) and read access to your video path (to scan for new downloads). Only one task will run at a time so it is safe to have multiple mechanisms triggering a refresh.</dd>
			<dd>To disable automatic updates from the web interface, set the <strong>database refresh interval</strong> to 0.</dd>
			<dt>Paths</dt>
			<dd>You need to provide two paths: a folder path on disk which will be scanned for videos, and a base URL where they can be accessed over the web.</dd>
			<dd>Disk path: e.g. <pre>/home/user/videos/</pre>. Subfolders will be treated as separate playlists. Thumbnails and metadata .json files, if they exist, will be matched by filename in the same folder as their videos.</dd>
			<dd>Web path: e.g. <pre>https://example.com/videos/</pre>. youtube-dl-web-viewer does not serve the video files themselves, so you should set up your webserver separately to serve your disk path. It combines the web path with the subfolder and filename to form URLs for the videos and thumbnails. For example, if the <pre>/home/user/videos</pre> directory contained a video at <pre>playlist 1/video.mp4</pre> and your web path was <pre>https://example.com/content/</pre>, the URL formed would be <pre>https://example.com/content/playlist%201/video.mp4</pre>. The simplest way to serve your disk path to the web is to create a symlink in your public_html folder, for example:</dd>
			<dd><pre>ln -s /home/user/videos /var/www/public_html/videos</pre></dd>
			<dd>Bear in mind the user your webserver is running as will require read access to the path and its contents to be able to serve videos.</dd>
			<dt>Metadata</dt>
			<dd>By default, youtube-dl-web-viewer will search for an .info.json file matching each video's filename to collect its metadata, falling back to the filename if it is missing. Unchecking <strong>scan for metadata files</strong> will only use the filename for metadata.</dd>
			<dd>json metadata files are saved if you use youtube-dl's <pre>--write-info-json</pre> option, but if you don't collect them or some videos are missing them, you can optionally specify the <strong>video filename format</strong> to get metadata from there instead. The script recognises the following parameters:</dd>
			<dd>
				<ul>
					<li><pre>{position}</pre>: Playlist position (e.g. 123 or 00045 from youtube-dl's <pre>playlist_index</pre> or <pre>autonumber</pre>)</li>
					<li><pre>{title}</pre>: Video title</li>
					<li><pre>{id}</pre>: Video ID</li>
					<li><pre>{date}</pre>: Upload date (YYYYMMDD)</li>
					<li><pre>{skip}</pre>: Skip a parameter not recognised by this script</li>
				</ul>
			</dd>
			<dd>Use the <strong>video filename delimiter</strong> to specify how your parameters are separated, including spaces (e.g. "<pre> - </pre>"). Since video titles could contain this delimeter, if you include <pre>{title}</pre> in your format template, the parser will first try to match all the other parameters, leaving what remains as the video title. This is likely to break with some filename formats, so I recommend you download .info.json files along with your videos!</dd>
			<dd>To skip collecting metadata entirely (videos will be titled by filename only), uncheck <strong>scan for metadata files</strong> and delete the contents of <strong>filename format</strong></dd>
			<dt>Thumbnails</dt>
			<dd>youtube-dl's <pre>--write-thumb</pre> option downloads a thumbnail with each video. We use it as the player's placeholder if present, but it's too high resolution to use in playlists without slowing down the browser. If <strong>generate small thumbnails for playlists</strong> is checked, youtube-dl-web-viewer will create and store smaller versions in the database for playlist display. To do this requires the optional Python module <pre>Pillow</pre>, which you can install in your virtual environment with <pre>easy_install Pillow</pre>. Before installing, ensure you have installed your OS's development libraries for <strong>zlib</strong>, <strong>jpeg</strong> and (optionally) <strong>webp</strong>:</dd>
			<dd>
				<ul>
					<li>Debian (and similar Linux): <pre>sudo apt install zlib1g-dev libjpeg8-dev libwebp-dev</pre></li>
					<li>macOS: <pre>brew install libjpeg webp</pre></li>
					<li>Cygwin: install the <pre>zlib-devel</pre>, <pre>libjpeg-devel</pre> and <pre>libwebp-devel</pre> packages
				</ul>
			</dd>
			<dd>If the available thumbnail formats above show as "None" after installing Pillow and restarting the server, the installer may not have been able to find the system's libraries in your virtual environment, for example if you installed with <pre>pip install Pillow</pre>. Uninstall with <pre>pip uninstall Pillow</pre> and try the <pre>easy_install</pre> method, or see <a href="https://pillow.readthedocs.io/en/stable/installation.html#external-libraries" target="_blank">Pillow's documentation</a> for more info.</dd>
		</dl>
	</div>
	
	<script>
		document.addEventListener("DOMContentLoaded", (event) => {
			// Occasionally check for running tasks
			lazyUpdateStatus();
			
			// Listen for refresh/rescan triggered
			document.getElementById("refresh-database").addEventListener("click", () => {
				refreshDatabase(false);
			});
			document.getElementById("rescan-database").addEventListener("click", () => {
				refreshDatabase(true);
			});
		});
	</script>
{% endblock %}