# notes
design/
# paths and secrets, users will copy template from -dist
app/flaskapp.wsgi
instance/
# test data
testvideos/
# virtualenv (create separately on remote)
venv*/
# build stuff
dist/
build/
*.egg-info/
# compiled
*.pyc
__pycache__/
