# notes
todo.txt
# paths and secrets, users will copy template from -dist
config.py
app/flaskapp.wsgi
data.sqlite
data.sqlite-journal
# test data
testvideos/
# virtualenv (create separately on remote)
venv/
# build stuff
dist/
build/
*.egg-info/
# compiled
*.pyc
__pycache__/
