html {
	font-size: 18px;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit; /* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
}

html, body, p, ul, li, h1, h3, h4, h5, h6, button {
	/* reset browser defaults */
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-size: 1rem;
	text-align: left;
}


nav li {
	display: inline-flex;
}

pre {
	display: inline;
	white-space: pre-wrap;
}

.container {
	display: grid;
	grid-template-columns: [page-left] 1fr [main-left] minmax(0, calc((60vh / 9) * 16)) [main-right sidebar-left] minmax(0, 400px) [sidebar-right] 1fr [page-right];
	grid-template-rows: [header-top] auto [header-bottom messages-top] min-content [messages-bottom];
	gap: 20px;
	
	background-color: #ccffcc;
}

	header {
		grid-column: page-left / span page-right;
		grid-row: header-top / header-bottom;
		
		display: grid;
		grid-template-columns: 0 [title-left] max-content [title-right] 1fr 0;
		grid-template-rows: 100%; /* Set height for flex elements to fill when not wrapped */
		column-gap: 20px;
		
		background-color: #ffffcc;
	}

	header h1 {
		/* 20px gap on either side */
		grid-column: title-left / title-right;
	}

	header .navigation {
		display: flex;
		flex-flow: row-reverse wrap;
		align-content: center; /* Centre uls vertically */
	}

	.navigation .user, .navigation .pages {
		/* nav menus fill space and only wrap if needed */
		flex: 1 auto;
	}

	.navigation .user {
		text-align: right;
	}

	.messages {
		grid-column: main-left / span sidebar-right;
		grid-row: messages-top / messages-bottom;
		
		background-color: #ffcccc;
	}

		.messages .message {
			display: grid;
			grid-template-columns: 0 [content] 1fr [controls] auto;
			align-items: center;
			column-gap: 20px;
			
			transition: max-height 2s ease-out;
		}

			.message .content {
				grid-column: content;
			}

			.message .controls {
				grid-column: controls;
			}

				.message .controls button {
					width: 2rem;
					height: 2rem;
				}

		.messages .collapsed, .notifications .collapsed {
			overflow: hidden;
			height: 0;
			padding: 0;
			margin: 0;
		}

	.main {
		grid-column: main-left / main-right;
		
		background-color: #ccffff;
	}

		#player {
			height: 0;
			overflow: hidden;
			padding-bottom: calc(100% / (16/9));
			position: relative;
			
			background-color: #99ccff;
		}

		/*#player::before {
			content: "";
			display: inline-block;
			width: 1px;
			height: 0;
			padding-bottom: calc(100% / (16/9));
		}*/
		
		#player video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}	

		.info {
			height: 200px; /* testing */
		}

	.sidebar {
		grid-column: sidebar-left / sidebar-right;
		
		padding: 20px;
		max-height: 80vh;
		
		display: grid;
		grid-template-rows: auto 1fr;
		
		background-color: #ffccff;
	}
	
		#playlists {
			max-height: 25vh;
		}
		
		.list {
			list-style: none;
			overflow-y: auto;
			
			--thumb-width: 5.1rem;
		}
			
			.list .playlist, .list .video {
				display: grid;
				grid-template-columns: var(--thumb-width) 1fr;
				align-items: center;
				
				width: 100%;
				cursor: pointer;
				
				background-color: aliceblue;
			}
				
				.list li {
					margin: 5px 0;
				}
				
				.list li:first-child, .list li:last-child {
					margin: 0;
				}
				
				.list li:hover {
					background-color: lightgrey;
				}
				
				.list li .count {
					text-align: center;
				}
				
				.list li .number {
					font-size: 1.5rem;
					font-weight: bold;
				}
				
				.list .name {
					padding: 5px 0;
					margin: 0 10px;
				}
				
				.playlist .caption {
					font-size: 0.5rem;
				}

				.playlist .name {
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
				
				.video .thumbnail {
					height: calc((var(--thumb-width) / 16) * 9);
					
					background-color: coral;
				}
				
				.video .count {
					display: flex; /* Allow margin auto */
				}
				
				.video .number {
					margin: auto; /* Align centre */
				}

			.list .selected {
				background-color: #99ccff;
			}
	
	@media screen and (max-width: 860px) {
		.main, .sidebar {
			/* Remove gap for video, info, sidebar */
			grid-column: page-left / span page-right;
		}
	}

	.full-width {
		grid-column: main-left / span sidebar-right;
		
		margin: 0 100px auto;
		
		background-color: #99ccff;
	}
	
	form {
		max-width: 600px;
		margin: 20px 40px;
		
		/*background-color: antiquewhite;*/
	}

	.grid-form {
		display: grid;
		grid-template-columns: [label] auto [field] 1fr;
		column-gap: 20px;
	}
		
		.grid-form label {
			grid-column: label;
		}
		
		.grid-form input, .grid-form select {
			grid-column: field;
		}
		
		.grid-form .field-help, .grid-form .errors {
			grid-column: span 2;
			
			font-size: 80%;
			margin: 5px 0 20px 10px;
		}

#notifications {
	position: absolute;
	z-index: 2;
	top: 50px;
	right: 15px;
	
	list-style: none;
}

	.notification {
		max-width: 200px;
		margin: 10px 0;
		padding: 10px;
		box-shadow: 2px 2px 5px black;
		word-wrap: break-word;
		hyphens: auto;
		
		background-color: lightblue;
	}