{% from 'macros.j2' import render_sprite %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if title %}
			<title>{{ title }} | youtube-dl-web-viewer</title>
		{% else %}
			<title>youtube-dl-web-viewer</title>
		{% endif %}
		<link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename = 'favicon.svg') }}">
		<link rel="alternate icon" sizes="32x32" href="{{ url_for('static', filename = 'favicon.ico') }}">
		<link rel="apple-touch-icon" href="{{ url_for('static', filename = 'apple-touch-icon.png') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
		<script>
			const csrfToken = "{{ csrf_token() }}";
			const baseUrl = "{{ url_for('index.index') }}";
			let loadingSpinners;
			
			// Wait times in milliseconds
			const delay = {
				notificationFade: 5000, // Fade disappearing notifications after
				notificationAnim: 500, // Wait for notification animation
				checkStatus: 30000, // Check for running task every
				refreshStatus: 2000 // Refresh running task status every
			};
			// Update timers
			let timers = {
				often: null,
				lazy: null
			};
				
			document.addEventListener("DOMContentLoaded", (event) => {
				// Select loading spinners
				loadingSpinners = document.querySelectorAll(".loading .sprite");
				
				// Hide message on click
				document.querySelectorAll(".flash").forEach(function(message) {
					message.querySelector(".close")
						   .addEventListener("click", () => {
						message.classList.add("hidden");
					});
				});
				
				// Show/hide menu on small screens
				document.querySelector(".toggle-menu button")
						.addEventListener("click", () => {
					document.querySelector("header .navigation")
							.classList.toggle("toggled");
				});
				
				if ("hidden" in document) {
					// Browser supports Page Visibility API
					document.addEventListener("visibilitychange", (event) => {
						// Page hidden/visible
						for (const t in timers) {
							// Cancel any active timers
							if (timers[t] !== null) {
								// Don't clear variable so can reactivate
								clearTimeout(timers[t]);
							}
						};
						if (!document["hidden"]) {
							// Page visible, run any previously active now
							if (timers.often !== null) {
								updateStatus();
							} else if (timers.lazy !== null) {
								lazyUpdateStatus();
							}
						}
					});
				}
			});
			
				
			/**
			Add a notification
			  message: Notification text
			  id: Notification element ID to update (if exists) or set
			  disappear = true: Fade out and remove after 5 seconds
			  level: "info", "warn", "error" icon
			  progress: [folder, of-folders, file, of-files]
			  actionText: Action button label
			  action, [args]: Run action(args) when button is clicked
			    If action = "link", will insert a link instead of a button
				with text = actionText and href = args[0]
			*/
			function addMessage(message, id, disappear = false, level = "info",
								progress, actionText, action, args = []) {
				
				const notifications = document.getElementById("notifications");
				const template = {
					levels: {
						info: document.getElementById("template-info"),
						warn: document.getElementById("template-warn"),
						error: document.getElementById("template-error")
					},
					notification: document.getElementById("template-notification"),
					progress: document.getElementById("template-progress"),
				};
				
				// Get existing notification or null
				let existing = (id != null
							  ? document.getElementById(id) : null);
				
				// Create from template
				// Note: using firstElementChild of template as a DocumentFragment
				// can't be used as a target for some events
				let notification = template.notification.content.firstElementChild
					.cloneNode(true);
				if (id != null) {
					// Optionally add element ID
					notification.id = id;
				}
				
				// info/warn/error icon
				// Default if not recognised
				levelClass = (template.levels[level] == null ? "info" : level)
				let levelTemplate = template.levels[levelClass].content
					.cloneNode(true);
				notification.querySelector(".level")
					.appendChild(levelTemplate);
				// Add class for background colour
				notification.classList.add(levelClass);
				
				//// Notification content
				let content = notification.querySelector(".content");
				// Message (allow linebreaks)
				content.querySelector(".message").innerText = message;
				// Progress
				if (progress != null) {
					let progressTemplate = template.progress.content
						.cloneNode(true);
					console.log(progress, progressTemplate,
								progressTemplate.querySelectorAll("span"));
					progressTemplate.querySelectorAll("span").forEach(
						(element, index) => {
						// Fill folder, of-folders, file, of-files
						element.textContent = progress[index];
					});
					content.appendChild(progressTemplate);
				}
				// Action button/link
				if (typeof(action) === "function") {
					let actionButton = document.createElement("button");
					actionButton.className = "action";
					actionButton.textContent = actionText;
					actionButton.addEventListener("click", () => {
						action(args);
						closeNotification(notification);
					});
					content.appendChild(actionButton);
				} else if (action === "link") {
					let actionLink = document.createElement("a");
					actionLink.href = (args.length > 0 ? args[0] : "");
					actionLink.textContent = actionText;
					content.appendChild(actionLink);
				}
				
				// Fade out and remove notification
				function closeNotification(element, afterDelay = false) {
					// Optionally wait delay.notificationFade
					delayFor = (afterDelay ? delay.notificationFade : 0);
					setTimeout(() => {
						element.style.opacity = 0;
						// Wait for opacity animation to finish
						setTimeout(() => {
							// Remove notification
							notifications.removeChild(element);
						}, delay.notificationAnim);
					}, delayFor);
				}
				
				// Close button
				notification.querySelector(".close")
						.addEventListener("click", () => {
					closeNotification(notification);
				});
				
				// Add to document
				if (existing !== null) {
					// Replace existing notification
					notifications.replaceChild(notification, existing);
				} else {
					// Add new notification
					notifications.appendChild(notification);
				}	
				
				if (disappear) {
					// Fade and remove after delay
					closeNotification(notification, true);
				}
			}
			
			
			/**
			Load an API endpoint and return the json response
			  GET:  loadJSON("playlist", 1) fetches <api_url>/playlist/1
			  POST: loadJSON("POST", postData, "playlist", 1)
			*/
			async function loadJSON(...params) {
				// Show loading spinner
				loadingSpinners.forEach((spinner) => {
					spinner.style.display = "inline-flex";
				});
				
				let endpoint;
				let fetchParams = {
					method: "GET",
					headers: {
						"X-CSRFToken": csrfToken
					},
					body: null
				};
				if (params.length > 2 && params[0] === "POST") {
					// POST
					endpoint = params.slice(2).join("/");
					fetchParams.method = "POST";
					fetchParams.headers["Accept"] = "application/json";
					fetchParams.headers["Content-Type"] = "application/json";
					fetchParams.body = JSON.stringify(params[1]);
				} else {
					// GET
					endpoint = params.join("/");
				}
				const response = await fetch(baseUrl + "api/" + endpoint,
											 fetchParams);
				const json = await response.json();
				// Hide loading spinner
				loadingSpinners.forEach((spinner) => {
					spinner.style.display = "none";
				});
				if (!response.ok) {
					if (json.message != null) {
						addMessage(json.message, null, true, "warn");
					} else {
						addMessage("API error: see console for details", null, true, "error");
						console.error("API request failed:", response.statusText);
					}
				} else {
					return json;
				}
			}
			
			
			async function refreshDatabase(rescan = false) {
				let endpoint = (rescan ? "rescan" : "refresh")
				let message = "Database " + endpoint + " started"
				addMessage(message, null, true);
				// Don't wait for return
				loadJSON(endpoint);
				// Clear timers and update status immediately
				for (const t in timers) {
					clearTimeout(timers[t]);
					timers[t] = null;
				};
				updateStatus();
			}
			
			// Regularly check task status until complete
			async function updateStatus() {
				let response = await loadJSON("status");
				let task = response.data;
				console.log(task);
				if (task.status === 1) {
					// Task running
					let progress = [task.folder, task.of_folders,
									task.file, task.of_files];
					addMessage(task.message, "status", false, "info", progress);
					// Queue next update
					timers.often = setTimeout(updateStatus, delay.refreshStatus);
				} else if (task.status === 0) {
					// Task complete/none running
					// Generic message if already cleared
					task.message = (task.message === null
								   ? "Database update complete" : task.message);
					// Offer playlist refresh if on video page
					const action = (typeof(loadFolders) === "function"
								 ? loadFolders : null);
					addMessage(task.message, "status", true, "info", null,
							   "Refresh playlists", action);
					// Return to lazily checking status
					timers.lazy = setTimeout(lazyUpdateStatus, delay.checkStatus);
				} else if (task.status === -1) {
					// Task error
					addMessage(task.message, "status", false, "error", null,
							   "Open error log", "link", [baseUrl + "log"]);
					// Return to lazily checking status
					timers.lazy = setTimeout(lazyUpdateStatus, delay.checkStatus);
				} else {
					console.error("Unexpected API response:", task)
					addMessage("Unexpected API response!", "status", false,
							   "warn", null, "Open error log", "link",
							   [baseUrl + "log"]);
					// Queue next update anyway
					timers.often = setTimeout(updateStatus, delay.checkStatus);
				}
			}
			
			// Occasionally check whether a task is running without notifying
			async function lazyUpdateStatus() {
				let response = await loadJSON("status");
				let task = response.data;
				
				if (task.status === 1 || task.status === -1) {
					// Task is running or errored, update status often
					updateStatus();
				} else {
					// No task running
					if (response.refresh_due &&
						typeof apiAvailable !== "undefined" && apiAvailable) {
						// Database refresh due; on video page and logged in
						refreshDatabase();
					} else {
						// Queue next update
						timers.lazy = setTimeout(lazyUpdateStatus,
												 delay.checkStatus);
					}
				}
			}
		</script>
	</head>
	
	<body>
		<div id="container" class="container">
			<div class="header-container">
				<header>
					<a class="site-logo" href="{{ url_for('index.index') }}" aria-label="Home">{{ render_sprite('site') }}</a>
					<nav class="toggle-menu">
						<ul>
							<li class="loading loading-small">{{ render_sprite('loading') }}</li>
							<li><button title="Menu">{{ render_sprite('menu') }}</button></li>
						</ul>
					</nav>
					<nav class="navigation">
					{% if g.user %}
						<ul class="user">
							<li class="loading loading-large">{{ render_sprite('loading') }}</li>
							<li><a href="{{ url_for('settings.user') }}" title="My account">{{ render_sprite('user') }} {{ g.user['username'] }}</a></li>
							<li><a href="{{ url_for('auth.logout') }}" title="Log out">{{ render_sprite('logout') }}</a></li>
						</ul>
						{% if g.user['is_admin'] == 1 %}
							<ul class="pages">
							{% for item in nav.top %}
								<li class="{{ 'active' if item.is_active }}">
									<a href="{{ item.url }}" title="{{ item.label|capitalize }}">{{ render_sprite(item.label) }}</a>
								</li>
							{% endfor %}
							</ul>
						{% endif %}
					{% else %}
						<ul class="user">
							<li class="loading loading-large">{{ render_sprite('loading') }}</li>
							<li><a href="{{ url_for('auth.login') }}" title="Log in">{{ render_sprite('login') }}</a></li>
						</ul>
					{% endif %}
					</nav>
				</header>
			</div>
			
			<section class="messages">
			{% with messages = get_flashed_messages(with_categories = true) %}
				{% if messages %}
					{% for category, message in messages %}
						<div class="flash {{ category }}">
							<div class="level">{{ render_sprite(category) }}</div>
							<div class="content">{{ message }}</div>
							<button class="close" aria-label="Dismiss">
								{{ render_sprite('close') }}
							</button>
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			</section>
			
			{% block content %}{% endblock %}
		</div>
		<ul id="notifications" class="notifications"></ul>
		<section class="templates">
			<template id="template-info">
				{{ render_sprite('info') }}
			</template>
			<template id="template-warn">
				{{ render_sprite('warn') }}
			</template>
			<template id="template-error">
				{{ render_sprite('error') }}
			</template>
			<template id="template-notification">
				<li class="notification">
					<div class="level"></div>
					<div class="content">
						<div class="message"></div>
					</div>
					<button class="close" aria-label="Dismiss">
						{{ render_sprite('close') }}
					</button>
				</li>
			</template>
			<template id="template-progress">
				<div class="progress">
					<div class="folders">
						Folders: <span class="folder"></span> / <span class="of-folders"></span>
					</div>
					<div class="files">
						Files: <span class="file"></span> / <span class="of-files"></span>
					</div>
				</div>
			</template>
			<template id="template-action">
				<button class="action"></button>
			</template>
		</section>
	</body>
</html>