<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if title %}
			<title>{{ title }} | youtube-dl-web-viewer</title>
		{% else %}
			<title>youtube-dl-web-viewer</title>
		{% endif %}
	<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
	<script>
		var csrf_token = "{{ csrf_token() }}";
		var api_url = "/api/";
		
		function addMessage(message, id = null, disappear = false) {
			/**
			 Add a notification
			   Optionally pass an element ID (will be updated if already exists)
			   Pass disappear to fade out and remove the notification after 5 seconds
			*/
			var parent = document.getElementById("notifications");
			var notification = null;
			
			if (id !== null) {
				// Check if passed ID already exists
				notification = document.getElementById(id);
				if (notification !== null) {
					// Update existing notification
					notification.innerHTML = message;
				};
			};
			
			if (notification == null) {
				// Create new notification
				notification = document.createElement("li");
				notification.className = "notification";
				notification.innerHTML = message;
				if (id !== null) {
					// Optionally add ID
					notification.id = id;
				};
				parent.append(notification);
			};
			
			if (disappear) {
				setTimeout(function() {
					notification.style.opacity = 0;
					setTimeout(function() {
						parent.removeChild(notification);
					}, 1000);
				}, 5000);
			};
		};
		
		async function loadJSON(endpoint) {
			const response = await fetch(api_url + endpoint, {
				headers: {
					"X-CSRFToken": csrf_token
				}
			});
			const json = await response.json();

			if (!response.ok) {
				if (json.message !== undefined) {
					addMessage(json.message);
				} else {
					console.error("Request failed:", response.statusText);
				}
			} else {
				return json;
			};
		};
		
		var timer;
		var lazyTimer;
		
		async function refreshDatabase(rescan = false) {
			var endpoint = "refresh";
			var message = "Database refresh started";
			if (rescan == true) {
				endpoint = "rescan";
				message = "Database rescan started";
			};
			response = await loadJSON(endpoint);
			addMessage(message, null, true);
			// Clear timers and update status immediately
			clearTimeout(timer);
			clearTimeout(lazyTimer);
			updateStatus();
		};
		
		async function updateStatus() {
			response = await loadJSON("status");
			task = response.data;
			
			if (task.status == 1) {
				// Task running
				var message = task.message + "<br>" +
					"Folder " + task.folder + " of " + task.of_folders + "<br>" +
					"File " + task.file + " of " + task.of_files;
				addMessage(message, "status");
				// Queue next update
				timer = setTimeout(updateStatus, 3000);
				
			} else if (task.status == 0) {
				// Task complete/none running
				// Setting notification to fade out so include a generic message in the meantime if blank
				task.message = (task.message == null ? "Task complete" : task.message);
				addMessage(task.message, "status", true);
				// Return to lazily checking status
				lazyTimer = setTimeout(lazyUpdateStatus, 20000);
				
			} else if (task.status == -1) {
				// Task error
				var message = task.message + "<br>" +
					"<a href=\"{{ url_for('index.error_log') }}\">See error log for details</a>";
				addMessage(message, "status");
				// Return to lazily checking status
				lazyTimer = setTimeout(lazyUpdateStatus, 20000);
				
			} else {
				var message = "Unexpected API response<br>" +
					"See developer console for details";
				addMessage(message, "status");
				console.error('Unexpected API response: ', task)
				// Queue next update anyway
				timer = setTimeout(updateStatus, 10000);
			};
		};
		
		// Quietly and occasionally check whether a task is running
		async function lazyUpdateStatus() {
			response = await loadJSON("status");
			task = response.data;
			
			if (task.status == 1) {
				// Task is running, switch to updating status normally
				updateStatus();
			} else {
				// Queue next update
				lazyTimer = setTimeout(lazyUpdateStatus, 20000);
			};
		};
		
		// todo:
		// split that^^ out, if a task isn't running it doesn't need to notify on page load
		// if notification closed, cancel the timeout and any waiting loads
		
		document.addEventListener("DOMContentLoaded", (event) => {
			// Begin lazily checking for task status
			//lazyUpdateStatus();
			
			// Collapse messagae on click
			document.querySelectorAll(".message").forEach(function(element) {
				element.querySelector(".controls button").addEventListener("click", () => {
					element.classList.add("collapsed");
				});
			});
		});
	</script>
	</head>
	
	<body>
		<ul id="notifications"></ul>
		
		<div class="container">
			<header>
				<h1><a href="{{ url_for('index.index') }}" aria-label="Home">yt-dl web</a></h1>
				<nav class="navigation">
				{% if g.user %}
					<div class="user">
						<ul>
							<li><a href="{{ url_for('settings.user') }}">{{ g.user['username'] }}</a></li>
							<li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
						</ul>
					</div>
					{% if g.user['is_admin'] == 1 %}
						<div class="pages">
							<ul>
							{% for item in nav.top %}
								<li class="{{ 'active' if item.is_active }}">
									<a href="{{ item.url }}">{{ item.label }}</a>
								</li>
							{% endfor %}
							</ul>
						</div>
					{% endif %}
				{% else %}
					<div class="user">
						<ul>
							<li><a href="{{ url_for('auth.login') }}">Login</a></li>
						</ul>
					</div>
				{% endif %}
				</nav>
			</header>
			
			<section class="messages">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<div class="message">
							<div class="content">{{ message }}</div>
							<div class="controls"><button class="close" aria-label="Dismiss">X</button></div>
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			</section>
			
			{% block content %}{% endblock %}
		</div>
	</body>
</html>