{% extends 'base.html' %}

{% block content %}
	<div class="full-width">
		<h2>{{ title }}</h2>
		
		<p>youtube-dl-web-viewer needs to create a database to store playlist and video metadata. You can create it here, or alternatively from the command line with <strong>flask create-db</strong>.</p>
		{% if message %}
			<p class="init-warning"><strong>{{ message }}</strong></p>
		{% endif %}
		
		<form method="POST" action="{{ url_for('db.init') }}">
			{{ form.csrf_token }}
			{{ form.submit }}
		</form>
	</div>
{% endblock %}