{% macro render_field(field) %}
		{{ field.label }}
		{{ field(**kwargs) }}
		{% if field.errors %}
			<ul class="errors">
			{% for error in field.errors %}
				<li>{{ error }}</li>
			{% endfor %}
			</ul>
		{% endif %}
{% endmacro %}

{% macro error_list(form) %}
	{% if form.errors %}
		<ul class="errors">
			{% for field, errors in form.errors|dictsort if errors %}
				{% for error in errors %}
					<li>{{ form[field].label }}: {{ error }}</li>
				{% endfor %}
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}

{% macro render_sprite(sprite_id, extra_class) %}
	{% if sprite_id in ['site'] %}
		{% set view_box = '0 0 100 25' %}
	{% elif sprite_id in ['play-fg', 'play-bg', 'play-hover'] %}
		{% set view_box = '0 0 119 75' %}
	{% elif sprite_id in ['stars-filled', 'stars-empty'] %}
		{% set view_box = '0 0 100 16' %}
	{% elif sprite_id in ['bongo'] %}
		{% set view_box = '0 0 64 27' %}
	{% else %}
		{% set view_box = '0 0 32 32' %}
	{% endif %}

	<svg class="sprite{{ ' ' ~ extra_class if extra_class }}" viewBox="{{ view_box if view_box }}">
		<use xlink:href="{{ url_for('static', filename = 'sprites.svg') }}{{ '#' ~ sprite_id if sprite_id }}"></use>
	</svg>
{% endmacro %}